
p > code  {
    font-size: 16px;
    color: #212529;
    background: #f8f9fa;
}

blockquote {
    border: 1px solid #0175C2;
    border-radius: 5px;
    margin: 50px 0;
}

blockquote > * {
    font-style: normal;
}